version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: logistics_postgres
    restart: always
    environment:
      POSTGRES_USER: logistics_user
      POSTGRES_PASSWORD: logistics_pass
      POSTGRES_DB: logistics_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: logistics_redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
